.wrapped-presentation {
  background: linear-gradient(348.16deg, #FB3594 0%, #3656C3 100%);
  height: 100vh;
}

.custom-btn {
  background: linear-gradient(348.16deg, #FB3594 0%, #3656C3 100%);
  border: none;
  border-radius: 30.5px;
  font-size: 18px;
  height: 60px;
}