<aside class="wrapped-presentation">
  <div>
    <img src="" alt="logo">
  </div>
  <div class="container">
    <div class="card text-center">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title text-center">Nombre del juego</h5>
        <div>
          <img src="" alt="imagen">
        </div>
        <div class="button-container">
            <button class="btn btn-primary btn-block custom-btn">Jugar</button>
            <button class="btn btn-primary btn-block custom-btn">Salir</button>
        </div>
<!--         <div class="mb-2">
          <button class="btn btn-primary btn-block custom-btn">Jugar</button>
        </div>
        <div class="my-5">
          <button class="btn btn-primary btn-block custom-btn">Salir</button>
        </div> -->
      </div>
    </div>
  </div>
</aside>
