<button (click)="atras()" class="btn">Atras</button>
<section class="reflextion-container">
		<div class="container">
			<div class="row">
				<div class="col">
					<header>
						<div class="row">
							<div class="col-12 d-flex justify-content-center pb-3">
								<div class="title">
									Pregúntale a tu hij@
								</div>
							</div>
							<div class="col-12 d-flex justify-content-center">
								<div class="question">
									¿ Crees que los niños son más fuertes que las niñas ? Por ejemplo (no lloran, son
									más
									decididos, pueden hacer las cosas solos ?
								</div>
							</div>
						</div>
						<div>
						</div>
					</header>
					<section>
						<div class="row ">
							<div class="col-12 d-flex justify-content-center mt-3">
								<span class="text-title">EQUAL TIPS</span>
							</div>
							<div class="col-sm-12 d-md-flex justify-content-md-center">
								<div class="text-box">
									<div class="content-textos d-flex justify-content-center">
										<span class="text-content">
											- Explícale que niños y niñas son seres humanos iguales, que pueden tener las mismas experiencias
											(cuando les va mal o bien), y sentir lo mismo (tristeza, enojo, alegría). <br><br>
											- Explícale que niños y niñas son seres humanos iguales, que pueden tener las mismas experiencias
											(cuando les va mal o bien), y sentir lo mismo (tristeza, enojo, alegría).<br><br>
											- Si identificas estos estereotipos en más miembros de tu familia, habla con cada un@ de ellos y coméntales lo que quieres lograr con tu pequeñ@ para que te ayuden a lograrlo.<br><br>

										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col d-md-flex justify-content-md-center reflextion-avatar">
								<span>
									<img src="assets/images/people.png" alt="">
								</span>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
