.content{
    height: 80vh;;
}
.btn-comenzar {
    background: linear-gradient(348.16deg, #FB3594 0%, #3656C3 100%);
    bottom: 0px;
    width: 100vw;
    border: none;
    border-radius: 30.5px;
    font-size: 18px;
    height: 60px;
    margin-bottom: 0;
  }